<div id="header">
    <img src="{{site.url}}/img/vpodLogo.png">
    <div id="menu-primary-container">
        <nav class="menu">
            <ul id="menu-primary-items">
                <li><a href="{{site.url}}/index.html">Emotion Sort</a></li>
                <li><a href="{{site.url}}/list.html">Experiments</a></li>
                <li><a href="{{site.url}}/about.html">About</a></li>
                <li><a href="http://poetry.lib.uidaho.edu">Today's Poem</a></li>
            </ul>
        </nav>
    </div>

</div>