#header{
    padding: 1.5em 8.334%;
    border-bottom: 1px solid $border-grey;
    position: relative;
    margin-bottom: 1.5em;
    img { margin-right: 3em; }
}

#menu-primary-container {
    display:inline-block;
    vertical-align: top;
    margin-top:7px;
}
#menu-primary-items {
    border: none;
    margin: 0;
    list-style: none;
    font-size: 1em;
    padding:0;

}
#menu-primary-items li {
    display: inline-block;
    border: none;
    margin-right:20px;
    position: relative;
}
#menu-primary-items a {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 0.6875em;
    line-height: 1.4545;
    text-decoration: none;
}